.forgot-password-container {
  width: 250px;
  height: 400px;
  margin: auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
  }
  
  .form div {
    margin-bottom: 10px;
  }
  
  .input {
    width: 80px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: darkblue;
  }
  
  .p {
    margin-top: 10px;
  }
  
  .a {
    color: blue;
    text-decoration: none;
  }
  
  .a:hover {
    text-decoration: underline;
  }
  